.main {
  position: absolute;
  box-sizing: content-box;

  .inner {
    box-sizing: border-box;
    overflow: hidden;
    // 不加下面的属性，div不识别换行
    white-space: break-spaces;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
